setuptools
python-dotenv
ipykernel
langchain
langchain_community
langchain_groq
langchain_google_genai
langchain_openai
langchain_chroma
pypdf
faiss-cpu
bs4

langgraph
langsmith
langchain[openai]
langchain_tavily
uuid
numpy
langgraph-checkpoint-postgres
Matplotlib